<mjml>
  <mj-head>
    <mj-style>
      /* ============================================
         RESET CSS - Email compatible
         ============================================ */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }

      table {
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
      }

      td {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        mso-table-lspace: 0pt !important;
        mso-table-rspace: 0pt !important;
      }

      tr {
        margin: 0 !important;
        padding: 0 !important;
      }

      th {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
      }

      img {
        border: 0 !important;
        outline: none !important;
        text-decoration: none !important;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
        height: auto;
      }

      p {
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      ul, ol {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    </mj-style>
  </mj-head>

  <mj-body>
    <mj-section>
      <mj-column>
        <mj-image
          src="https://planity-assets-shared-lab.s3.eu-west-1.amazonaws.com/pro/mailer/2025_recap/desktop.png"
          alt="Hero"
        ></mj-image>
      </mj-column>
    </mj-section>

    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text>
            {{intro.greeting}}<br />
            {{{nl2br intro.text}}}<br />
            {{intro.closing}}
          </mj-text>
          <mj-divider></mj-divider>
          <mj-text>
            {{stats.title}}
          </mj-text>
        </mj-column>
      </mj-section>

      {{#each stats.items}}
        <mj-section>
          <mj-column>
            <mj-text>
              {{number}}
            </mj-text>
            <mj-text>
              {{{nl2br label}}}
            </mj-text>
          </mj-column>
        </mj-section>
      {{/each}}

      <mj-section>
        <mj-column>
          <mj-button href="{{stats.button.href}}">
            {{stats.button.text}}
          </mj-button>
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text>
            {{{nl2br personalStats.title}}}
          </mj-text>
        </mj-column>
      </mj-section>

      {{#each personalStats.kpis}}
        <mj-section>
          <mj-column>
            <mj-text>
              {{number}} {{category}}
            </mj-text>
            <mj-text>
              {{{nl2br data}}}
            </mj-text>
            {{#if note}}
              <mj-text>
                {{note}}
              </mj-text>
            {{/if}}
          </mj-column>
        </mj-section>
      {{/each}}

      <mj-section>
        <mj-column>
          <mj-text>
            {{personalStats.disclaimer}}
          </mj-text>
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text>
            {{future.title}}
          </mj-text>
          <mj-text>
            {{future.text}}
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-wrapper>
      <mj-section>
        <mj-column>
          <mj-text>
            {{{nl2br closing.text}}}
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-wrapper>

    <mj-section>
      <mj-column>
        <mj-text>
          {{footer.social.title}}
        </mj-text>
        <mj-social>
          {{#each footer.social.links}}
            <mj-social-element
              name="{{name}}"
              href="{{href}}"
            ></mj-social-element>
          {{/each}}
        </mj-social>
        <mj-text>
          {{footer.appStores.title}}
        </mj-text>
      </mj-column>
    </mj-section>

    <mj-section>
      <mj-group>
        {{#each footer.appStores.stores}}
          <mj-column>
            <mj-image src="{{image}}" alt="{{name}}" href="{{href}}"></mj-image>
          </mj-column>
        {{/each}}
      </mj-group>
    </mj-section>

    <mj-section>
      <mj-column>
        <mj-text>
          {{footer.copyright.text}}<br />
          {{footer.copyright.email}}<br />
          {{footer.copyright.phone}}
        </mj-text>
        <mj-text>
          {{#each footer.links}}
            {{#if @index}}
              •
            {{/if}}
            <a href="{{href}}">
              {{text}}
            </a>
          {{/each}}
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>